[Unit]
Description=GPU Fan Control
After=graphical-session.target

[Service]
User=jet
ExecStart=/bin/sh /home/jet/System/nfancurve/temp.sh -c /home/jet/System/nfancurve/arctic-linx.conf -d :0
KillSignal=SIGINT
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/run/user/1000/gdm/Xauthority"
Restart=always
RestartSec=30s

[Install]
WantedBy=graphical-session.target
